			
<br>
<p ng-show="msg">[{message}] </p>
<!-- Download -->
<div ng-show="down">
	<a  class="btn btn-lg btn-download" target="_blank" id='mydownloadurl' href="[{result.link}]" download="{{format_name}}"><span class="icon-if_Download_2202271"></span> DOWNLOAD</a>
</div>
<hr>
<!-- End loading and download -->
<div class="buttonContainer">
	<div class="form-group">
		<!-- Button select format audio -->
		<span class="input-group-btn">
			<button type="submit" class="btn btn-success btn-lg" ng-click="theButtonMp3||check_url(youtube.mp3)">{{trans.convert}} audio <span class="glyphicon glyphicon-music"></span>  </button>
			<select class="btn btn-default input-lg"
			ng-init="youtube.mp3= arrformatmp3[0].id"
			ng-model="youtube.mp3"
			ng-options="m.id as m.name for m in arrformatmp3" required>    
		</select>
	</span>
</div>
{{!-- <client-dl id="{{id}}" title ="{{title}}"></client-dl> --}}

<div class="form-group">   
	<span class="input-group-btn">
		<button type="submit" class="btn btn-success btn-lg" ng-click="theButtonMp4||check_url(youtube.mp4)">{{trans.convert}} video <span class="glyphicon glyphicon-facetime-video"></span>  </button>
		<select class="btn btn-default input-lg" 
		ng-init="youtube.mp4= arrformatv[0].id"
		ng-model="youtube.mp4" 
		ng-options="m.id as m.name for m in arrformatv" required>   
	</select>
</span>
</div>
<!-- Display button processsing here. -->
</div><!-- end bottun container -->