  
<h1>Insert/Edit Page Form</h1>
<form method="post" {{#if data}} action="/contents/edit" {{else}} action="/contents/insert" {{/if}}>
	<input type="readonly" readonly  name="_id" value="{{data._id}}">


	<div class="form-group">
		<label>Title</label>
		<input type="text" class="form-control" name="name"  value="{{data.name}}">
	</div>
	<div class="form-group">
		<label>Code</label>
		<input type="text" class="form-control" name="code"  value="{{data.code}}">
	</div>


	<div class="form-group">
		<label>Content</label>
		<textarea class="form-control" rows="10" name="content" id="headline" >{{data.content}}</textarea>
	</div>
	<button type="submit" class="btn btn-success">Submit</button>

</form>


